{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h1>Add book</h1>
        </div>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('books.add_books') }}">
            <div class="form-group mb-3">
                <label for="file">Select book</label>
                <input id="file" name="file" required="" type="file" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="tags">Tags</label>
                <input id="tags" name="tags" type="text" value="" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Add book</button>
        </form>
    </div>

{% endblock %}