{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid pb-3">
        <div class="d-grid gap-3" style="grid-template-columns: 2fr 10fr;">
            <div class="bg-light border rounded-2">
                {% for tag in tags %}
                    {{ tag.name }}<br>
                {% endfor %}
            </div>
            <div class="bg-light border rounded-2">
                {% for book in books %}
                    {% if book.cover %}
                        <img src="{{ url_for('static', path='cover_images/' + book.cover) }}" width="50" alt="">
                    {% endif %}
                    {% if book.authors %}
                        {{ book.authors|join(', ', attribute='name') }} -
                    {% endif %}
                    <a href="{{ url_for('show_book', book_id=book.id) }}">{{ book.title }}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}